[submodule "foundry-f23/Choco/lib/forge-std"]
	path = foundry-f23/Choco/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry-f23/Choco/lib/openzeppelin-contracts"]
	path = foundry-f23/Choco/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "foundry-f23/stablecoin/lib/forge-std"]
	path = foundry-f23/stablecoin/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry-f23/stablecoin/lib/v4-core"]
	path = foundry-f23/stablecoin/lib/v4-core
	url = https://github.com/uniswap/v4-core
[submodule "foundry-f23/stablecoin/lib/v4-periphery"]
	path = foundry-f23/stablecoin/lib/v4-periphery
	url = https://github.com/uniswap/v4-periphery
[submodule "foundry-f23/stablecoin/lib/permit2"]
	path = foundry-f23/stablecoin/lib/permit2
	url = https://github.com/uniswap/permit2
[submodule "foundry-f23/duck/lib/forge-std"]
	path = foundry-f23/duck/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry-f23/duck/lib/v3-periphery"]
	path = foundry-f23/duck/lib/v3-periphery
	url = https://github.com/Uniswap/v3-periphery
[submodule "foundry-f23/duck/lib/openzeppelin-contracts"]
	path = foundry-f23/duck/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "foundry-f23/duck/lib/chainlink-brownie-contracts"]
	path = foundry-f23/duck/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "foundry-f23/rebase-project/lib/forge-std"]
	path = foundry-f23/rebase-project/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry-f23/rebase-project/lib/openzeppelin-contracts"]
	path = foundry-f23/rebase-project/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
